@import "_variables.sass"
@import "_mixins.sass"
@import "_defaults.sass"

body
  font: 16px / 26px Helvetica, Helvetica Neue, Arial

.wrapper
  width: 90%
  margin: 0 5%

// phones
// @media only screen and (min-width: 480px)

//tablets
// @media only screen and (min-width: 768px)

//screen
// @media only screen and (min-width: 1140px)


@import "_print.sass"













//LAYOUT WITH FLEXBOX

// OPTIONAL UNDER min-width: 768px if float present.
  // .clearfix
  //   &:before
  //     content: " "
  //     display: table
  //   &:after
  //     content: " "
  //     display: table
  //     clear: both
  //   *zoom: 1
